.logo {
    width: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.main-header {
    display: flex;
    background-color: rgb(158, 106, 38);
    justify-content: space-between;
    align-items: flex-end;
    flex-flow: row wrap;
    padding-left: 25px;
    padding-right: 25px;
}
.main-navigation {
    display: flex;
    flex-flow: row wrap;
}
.main-navigation a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0.7em;
}
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}