.logo {
    width: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.nav-button {
    background-color: transparent;
    color: black;
    font-size: 1.8em;
    border-color: transparent;
    display: none;
}
.main-header {
    display: flex;
    background-color: rgb(158, 106, 38);
    justify-content: space-between;
    align-items: flex-end;
    flex-flow: row wrap;
    padding-left: 25px;
    padding-right: 25px;
}
.main-navigation {
    display: flex;
    flex-flow: row wrap;
}
.main-navigation a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.2em;
    padding: 0.7em;
}
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(241, 191, 130);
    overflow-y: scroll;
    min-height: 100vh;
}
.contact-page {
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.user-nav {
    display: flex;
    flex-flow: row wrap;
}
.user-nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.2em;
    padding: 0.7em;
}

.dropdown {
    position: relative;
}
.dropdown a {
    display: block;
}
.dropdown > a::after {
    content: "\25bc";
    font-size: 0.5em;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    display: flex;
    flex-flow: column nowrap;
    background-color: bisque;
    max-height: 0px;
    overflow: hidden;
    min-width: 100%;
    z-index: 999;
}
.dropdown:hover .dropdown-menu {
    max-height: 50vh;
}
.dropdown-menu a {
    white-space: nowrap;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
.site-search {
    display: flex;
    flex-flow: nowrap;
    padding: 0.7em;
    min-width: 30vw;
}
.site-search input {
    flex: 1;
    padding: 0.5em;
    border: 1px solid transparent;
}
.site-search button {
    padding: 0.5em;
    border: 1px solid transparent;
}
.slide img {
    max-width: 100%;
    aspect-ratio: 16/6;
    object-fit: cover;
    object-position: center;
}
.slide {
    width: 100%;
}
/* content */
.featured-grid {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    margin-top: 3em;
    margin-left: 3em;
    margin-right: 3em;
    gap: 2em;
}
.card-image {
    max-width: 100%;
}
.card-content {
    padding: 1em;
}
.card {
    background-color: rgb(158, 106, 38);
}
.card-button {
    display: block;
    background-color: bisque;
    color: black;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    width: 100%;
}
.col-4 {
    grid-column: span 4;
}
.col-3 {
    grid-column: span 3;
}
.main-footer {
    background-color: rgb(158, 106, 38);
    margin-top: 4em;
}
.social-nav a {
    color: black;
    font-size: 2em;
}
.social-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 2em;
    width: 100%;
    margin-bottom: 1em;
}
.footer-container {
    padding: 2em 4em; 
    display: flex;
    flex-flow: row wrap;
}
.footer-nav {
    display: flex;
    flex-flow: column nowrap;
}
.footer-nav a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 0.7em;
    font-size: 1.2em;
}
.footer-nav h4 {
    padding: 0.7em;
    margin: 0px;
}
#contact-form label {
    display: block;
}
#contact-form input {
    display: block;
    width: 100%;
    margin-bottom: 1em;
    padding: 0.5em;
    box-sizing: border-box;
}
#contact-form textarea {
    display: block;
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    margin-bottom: 1em;
}
#map {
    width: 100%
}