body {
    background-color: rgb(113, 167, 167);
}
h1 {
    color: white;
}
img {
    border-style: solid;
    border-width: 10px;
    border-color: black;
}
img:hover {
    border-style: dashed;
}
a { 
    color: white;
    font-size: large;
    text-decoration: none;
}
#main-nav {
    background-color: black;
    text-align: center;
    padding: 10px;
}
#main-nav a {
    font-size: 24px;
    margin: 20px;
}
#main-nav a:hover {
    text-decoration: underline;
    color: blue;
}